<!DOCTYPE html>
<html>
  <head>
    <title>Simple login form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
* {
  box-sizing: border-box;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

</style>
  </head>
  <body>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">количество записей</button>
    <ul class="dropdown-menu">
      <li><a href="{% url 'news_list' %}?count=10">10</a></li>
      <li><a href="{% url 'news_list' %}?count=20">20</a></li>
      <li><a href="{% url 'news_list' %}?count=50">50</a></li>
    </ul>
  </div>
    <table id="myTable">
      {% for item in news %}
      <tr>
        <td>{{ item.title }}</td>
        <td>{{ item.date }}</td>
        <td>{{ item.text }}</td>
        {% if item.image %}
        <td><img src="{{ item.image.url }}"></td>
        {% endif %}

      </tr>
      {% endfor %}
    </table>
  </body>
</html>